.parent{
    height: 400px;
    font-size: 20px;
}

.parent h1{
    top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.parent div{
    margin-left: 50px;
    margin-right: 50px;
}

.child-one{
    top: 50px;
}

.child-one ul{
    padding: 10px;
}

.child-one li{
    padding: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .parent{
        margin-left: 5%;
        margin-right: 5%;
    }
    .parent div{
        margin-left: 5%;
        margin-right: 5%;
    }

}